/* Start General Styling */
* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(134, 2, 2);
  --secondary-color: #d2cccc;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 72px;
}

.container .header {
  margin-bottom: 46px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 1.8em;
}

.container .main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* End General Styling */

/* Start Controls Styling */
.container .main .controls {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  padding: 40px 20px;
  color: var(--main-color);
  background-color: #d6d0d0;
}

.container .main .controls div:not(:last-of-type) {
  margin-bottom: 24px;
}

.container .main .controls div {
  display: flex;
}

.container .main .controls div button {
  flex: 1;
  padding: 6px 12px;
  margin: 5px;
  cursor: pointer;
  color: var(--main-color);
  font-size: 1.02em;
  border: none;
  border-radius: 5px;
  background-color: #d4afaf;
}

.container .main .controls div button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.active-button {
  box-shadow: 1px 1px 10px 0.2px rgb(61, 56, 56);
  background-color: var(--main-color) !important;
  color: #fff !important;
}
/* End Controls Styling */

/* Start Grid Styling */
.container .main .grid {
  height: 644px;
  width: 644px;
  border: 2px solid var(--main-color);
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid rgba(167, 167, 167, 0.61);
}
/* End Grid Styling */

/* Start Footer Styling */
hr {
  color: var(--main-color);
  margin: 0;
}

.footer {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: var(--main-color);
  height: 7.7vh;
  background-color: #d4afaf;
}

.footer p {
  margin: 0;
  margin-bottom: 8px;
}
/* End Footer Styling */
